@media screen and (max-width: 768px) {
  .main {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .main {
    width: 300px;
    height: 500px;
    margin: 20px auto;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  align-items: center;
  background: rgb(235, 235, 177);
}

.head {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 10%;
  background: skyblue;
}

.head .score {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background: greenyellow;
}

.head .score div {
  width: 45%;
  height: 100%;
  background: blueviolet;
}

.bottom {
  width: 80%;
  height: 20px;
  background: skyblue;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 50px auto; */
  width: 80%;
  height: 48%;
  border: 1px solid skyblue;
  border-radius: 2%;
  /* background: skyblue; */
}

.container .ele_2048 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 22%;
  font-size: 20px;
  border-radius: 5%;
  text-align: center;
  /* font-size: calc(60%); */
  /* transition: 1s; */
}
